* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 200px calc(100% - 200px);
  height: 1600px;
}

aside {
  background-color: #374050;
  color: #ADB6C6;
}

.job-boards, .nav-item:hover {
  background-color: #313949;
  border-left: #4CACF2 solid 2px;
  color: white;
  cursor: pointer;
  padding-left: 8px !important;
}

aside section:not(.nav-section-categories) {
  border-bottom: solid #313949 3px;
}

.profile-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.profile-img {
  border-radius: 50px;
  height: 90px;
  margin-bottom: 10px;
  width: 90px;
}

.profile-user:hover {
  color: white;
  cursor: pointer;
}

nav section {
  padding: 30px 0;
}

.nav-title {
  font-size: .8rem;
  padding-bottom: 5px;
  padding-left: 10px;
}

.nav-item {
  align-items: center;
  display: flex;
  padding: 5px 0 5px 10px;
}

.icon-div {
  margin-right: 10px;
  text-align: center;
  width: 20px;
}

.fa-check-square {
  color: #F9DA4B;
}

.blue-square {
  color: #53ABF8;
}

.red-square {
  color: #D03660;
}

.green-square {
  color: #4CA88B;
}

main {
  background-color: #EEF2F6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 200px 360px 2px 900px;
 }

.nav-search {
  background-color: white;
  border-bottom: 1px solid lightgray;
  color: #959AA0;
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 10% 60% 10% 10% 10%;
}

.nav-search-article:hover:not(.nav-input-article) {
  background-color: #48A2F1;
  color: white !important;
  cursor: pointer;
}

.nav-input-article, .nav-search-article {
  border-left: 1px solid lightgray;
}

.fa-caret-left {
  color: #469AE7;
  padding-right: 2px;
}

.nav-search-article {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-input-article {
  align-items: center;
  display: flex;
  padding-left: 5%;
}

input {
  border: none;
  font-size: 1.1rem;
  height: 89px;
  margin-left: 10px;
  width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
}

.nav-dashboard {
  background-color: white;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 0 50px;
}

.job-title-h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.job-title-article p {
  font-size: .9rem;
}

.preview {
  color: #80C0F0;
  cursor: pointer;
  font-weight: 600;
}

.dashboard-btns-article {
  align-self: flex-start;
  display: flex;
  margin-top: 7px;
}

.fa-circle {
  color: #9BC95C;
}

.btn, .open-btn { 
  align-items: center;
  align-self: center;
  border-radius: 50px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.open-btn {
  font-weight: 600;
  height: 40px;
  justify-content: space-between;
  padding: 0 15px;
  width: 100px;
}

.btn {
  height: 40px;
  width: 40px;
}

.open-btn:hover,
.btn:hover {
  background-color: #efefef;
  cursor: pointer;
}

.dashboard-pipeline-article {
  display: flex;
  font-weight: 600;
  font-size: .9rem;
  margin: 0;
}

.dashboard-pipeline-article p {
  margin-left: 50px;
  padding: 10px 0;
}

.summary-p, .dashboard-pipeline-article p:not(.chevron-right):hover {
  border-bottom: 4px solid #48A2F1;
  color: black;
  cursor: pointer;
}

.chevron-right {
  display: none;
}


.chart-section {
  display: grid;
  grid-template-columns: 58% 42%;
}

.circle-chart-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 40px;
  max-width: 1000px;
}

.circle-chart {
  height: 180px;
  width: 180px;
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; 
  transform-origin: center; 
  transform: rotate(90deg); 
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.totals-btn-div {
  grid-column-end: 3;
  grid-column-start: 2;
}

.totals-btn {
  margin-top: 54px;
  width: 230px;
}

.chart-btn {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  border: 1px solid gray;
  display: flex;
  font-size: .9rem;
  font-weight: 600;
  height: 40px;
  justify-content: center;
}

.chart-btn:hover {
  background-color: #efefef;
  cursor: pointer;
}

.bar-chart-section {
  display: grid;
  grid-template-columns: 1fr;
}

.bar-chart-div {
  background-image: url(images/chart.png);
  background-position: center;
  background-size: cover;
  height: 230px;
  margin-top: 10px;
  width: 465px;
}

.applicants-btn-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.applicants-btn {
  width: 150px;
}

hr {
  border-style: solid;
  color: #D2DAE2;
  height: 2px;
  margin: 0 5%;
  overflow: visible;
  text-align: center;
}

hr:after {
  background-size: 20px 20px;
  background: #EDF2F6 url(images/white-chevron.svg)  no-repeat scroll center;
  content: " ";
  cursor: pointer;
  display: inline-block;
  fill: red;
  font-size: 1.5em;
  height: 20px;
  padding:  0 2%;
  position: relative;
  top: -11px;
}

.bottom-section {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 50px 5%;
}

.job-details-section {
  background-color: white;
  border-bottom: 1px solid #727E93;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr)
  justify-items: center;
  margin-right: 5%;
}

.job-details-article, .job-description-article {
  align-items: center;
  display: flex;
}

.job-details-article {
  color: #727E93;
}

.garbage-div {
  align-items: center;
  border-bottom: solid 1px #727E93; 
  display: flex;
  height: 100%;
  margin: 0 40px;
  width: 100%;
}

.row-header-div {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 60px;
  width: 160px;
}

.row-details-div {
  align-items: center;
  display: flex;
  height: 100%;
  padding-left: 0%;
}


.job-description-article {
  background-color: #727E93;
  color: white;
  font-weight: 600;
}

.edit-btn {
  background-color: #7E8AA3;
  border: none;
  color: white;
  font-size: .9rem;
  height: 40px;
  outline: none;
  width: 80px;
}

.edit-btn:hover {
  background-color: darkgray;
  cursor: pointer;
}

.edit-pen {
  margin-right: 5px;
}

.description-article {
  grid-row-start: 7;
  grid-row-end: 9;
}

.description-header-div {
  align-self: flex-start;
  margin-top: 10px;
}

.description-details-div {
  padding: 0 10%;
}

.img-div {
  background-image: url(images/fred.jpg);
  background-position: center;
  background-size: 80px 55px, cover;
  border-radius: 50px;
  height: 50px;
  margin-right: 2%;
  width: 50px;
}

.hiring-lead-details {
  width: 300px;
}

.salary-div {
  border: none;
}

.salary {
  font-weight: 800;
}

.social-media-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
}

.social-media-btns {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.social-media-btns article {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-media-btns div {
  color: white;
  height: 60px;
  width: 100%;
}

.social-media-btns p {
  margin-top: 20px;
  text-align: center;
  width: 90%;
}

.social-media-btns i {
  float: left;
  padding-top: 22px;
  padding-left: 20px;
}

.fab {
}

.fb-btn{
 background-color: #516FBE;

}

.twitter-btn {
  background-color: #47A8E8;
}

.linkedin-btn {
  background-color: #3681B7;
}

.media-linking-section {
  color: #727E93;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.media-linking-article {
  border-bottom: 1px solid #727E93;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.media-linking-article div {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.header-p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.description-p {
  margin-bottom: 15px;
}

.description-p, .link-p {
  font-size: .8rem;
}

.link-p {
  align-items: center;
  background-color: white;
  display: flex;
  height: 50px;
  justify-content: flex-start;
  padding-left: 10px;
  width: 80%;
}

.media-linking-section button {
  background-color: #66B5C0;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  outline: none;
  width: 20%;
}

.email-p {
  width: 100%;
}

.email-article {
  padding-bottom: 0;
}

@media(max-width: 1380px) {
  aside {
    display: none;
  }

  #caret {
    color: gray;
  }

  body {
    grid-template-columns: 1fr;
  }
}


@media(max-width: 1200px) {
  
  main {
    grid-template-rows: 90px 200px 730px 2px 900px;
 }

  .bottom-section {
    margin: 50px 2% 50px 2%;
 }

  .chart-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr; 
  }

  .circle-chart-wrapper {
    justify-self: center;
    max-width: 700px; 
  }

  .bar-chart-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }

  .applicants-btn {
    margin-top: 33px;
  }

  .dashboard-pipeline-article p {
    font-size: .8rem;
  }

  .btn {
    font-size: .9rem;
    height: 30px;
    margin-left: 10px;
    width: 30px;
  }

  .open-btn {
    font-size: .9rem;
    height: 30px;
    width: 85px;
  }

  .job-details-section {
    margin-right: 3%;
  }
}

@media(max-width: 880px) {

  .minimize-p {
    display: none;
  }

  .dashboard-pipeline-article p {
    align-self: center;
  }

  .chevron-right {
    cursor: pointer;
    display: unset;
    font-size: 1.3rem !important;
  }

  .chevron-right:hover {
    color: lightgray;
  }

  .dashboard-btns-article {
    align-items: flex-end;
    flex-direction: column;
  }

  .dashboard-btns-article .btn {
    align-self: flex-end;
    margin-top: 10px;
  }

  .job-title-article {
    align-self: flex-start;
  }

  .dashboard-div {
    margin-top: 20px;
  }

  main {
    grid-template-rows: 90px 200px 730px 2px 1250px;
 }

  .bottom-section {
    grid-template-columns: 1fr;
  }

  .social-media-section {
    grid-template-columns: 1fr 1fr;
    height: 550px;
    margin-top: 50px;
  }

  .social-media-btns {
    align-content: center;
    height: 250px;
    padding-top: 15px;
    width: 300px;
  }

  .media-linking-section {
    height: 500px;
    width: 350px;
  }

    .media-linking-article {
      margin-top: 0;
    }
}    

@media(max-width: 730px) {
  main {
    grid-template-rows: 140px 250px 1020px 2px 2050px;
    width: 320px;
  }

  main nav {
    width: 320px;
  }

  .nav-search {
    border-bottom: 1px solid lightgray;
    color: #959AA0;
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 70px;
  }

  .nav-search-article {
    border-top: 1px solid lightgray;
  }

 .nav-search-article input {
  height: 68px;
  font-size: .9rem;

  }

  .nav-input-article {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .hamburger {
    grid-row-start: 2;
  }

  .add-user {
    grid-row-start: 2;
  }

  .calendar {
    grid-row-start: 2;
  }

  .nine {
    grid-row-start: 2;
  }

  .dashboard-pipeline-article p {
    margin-left: 15px;
    padding: 5px 0;
  }

  .dashboard-div {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    padding-left: 10px;
    margin: 0;
    width: 100%;
  }

  .job-title-h1 {
    font-size: 1.1rem;
    padding-top: 30px;
  }

  .dashboard-btns-article {
    flex-direction: row;
    width: 100%;
  }

  .job-details-section {
    align-self: center;       
    width: 320px;
  }

  .garbage-div {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .row-header-div, .description-header-div, .hiring-lead-details {
    display: flex;
    justify-content: center;
  }

  .description-header-div {
    align-self: auto;
  }

  .description-details-div {
    padding: 0 2%;
  }

  .row-details-div, .hiring-lead-details {
    margin: 0 0 20px 0;
  }

  .social-media-section {
    display: flex;
    flex-direction: column;
    height: 900px;
    padding-left: 10px;
  }

  .media-linking-section {
    margin-top: 50px;
    padding-left: 10px
    width: 100%;
  }

  .media-linking-article {
    width: 300px;
  }

  .chart-section {
    width: 320px;
  }

  .bottom-section {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
  }

  .circle-chart-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .bar-chart-div {
    height: 144px;
    width: 300px;
  }

  .btn, .open-btn {
    margin-left: 0;
  }

  .dashboard-btns-article {
    justify-content: space-between;
    width: 80%;
  }

  .dashboard-btns-article .btn {
    margin-top: 0;
  }
}
